@if(recipesByMeal && recipesByMeal.length > 0 ){
<div class="card-container">
  @for(recipe of recipesByMeal; track recipe.id){
  <div class="card">
    <app-recipe [recipe]="recipe"></app-recipe>
  </div>
  }
</div>
} @else if (this.tag) {
<div class="card-container">
  @for(recipe of recipesByTag; track recipe.id){
  <div class="card">
    <app-recipe [recipe]="recipe"></app-recipe>
  </div>
  }
</div>
} @else {
<div class="card-container">
  @for(recipe of recipes; track recipe.id){
  <div class="card">
    <app-recipe [recipe]="recipe"></app-recipe>
  </div>
  }
</div>
}
