<div class="recipe-container">
  <h3>Classic Margherita Pizza</h3>
  <img src="../../assets/img/pizza.jpg" alt="Classic Margherita Pizza" />
  <div class="card-container">
    <div class="row">
      <div class="info-group">
        <p>PrepTime:</p>
        <span>20</span>
      </div>
      <div class="info-group">
        <p>CookTime:</p>
        <span>15</span>
      </div>
      <div class="info-group">
        <p>Servings:</p>
        <span>4</span>
      </div>
      <div class="info-group">
        <p>Difficulty:</p>
        <span>Easy</span>
      </div>
    </div>
    <hr class="row-divider" />
    <div class="row">
      <div class="info-group">
        <p>Cuisine:</p>
        <span>Italian</span>
      </div>
      <div class="info-group">
        <p>Calories per serving:</p>
        <span>300</span>
      </div>
      <div class="info-group">
        <p>Rating:</p>
        <span>4.6</span>
      </div>
      <div class="info-group">
        <p>Meal Type:</p>
        <span>Dinner</span>
      </div>
    </div>
  </div>
  <br />
  <div class="data">
    <span class="title">Ingredients</span>
    <ul>
      <li>Pizza dough</li>
      <li>Tomato Sauce</li>
      <li>Fresh mozzarella cheese</li>
      <li>Fresh basil leaves</li>
      <li>Olive oil</li>
      <li>Salt and pepper to taste</li>
    </ul>
  </div>
  <br />
  <div class="data">
    <span class="title">Instructions</span>
    <ul>
      <li>Preheat the oven to 475°F (245°C).</li>
      <li>Roll out the pizza dough and spread tomato sauce evenly.</li>
      <li>Top with slices of fresh mozzarella and fresh basil leaves.</li>
      <li>Drizzle with olive oil and season with salt and pepper.</li>
      <li>
        Bake in the preheated oven for 12-15 minutes or until the crust is
        golden brown.
      </li>
      <li>Slice and serve hot.</li>
    </ul>
  </div>
  <div class="data">
    <div class="last">
      <span class="title">Tags</span><br />
      <span>Pizza, Italian</span>
    </div>
  </div>
</div>
