.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /* space between each card*/
  padding: 20px;
  max-width: 1300px;
  width: 100%;
}

@media (max-width: 1024px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
  }
}

/* For small screens (e.g., mobile phones) */
@media (max-width: 600px) {
  .card-container {
    grid-template-columns: 1fr; /* 1 card per row */
  }
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  border-style: hidden;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px #fffefe;
} 

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr; /* Single column on mobile */
  }
}