.container-fluid{
  width: 100%;
}

@media only screen and (max-width: 600px){  
  .row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .col-9 {
    order: 1; /* Show recipe info first */
    flex: 0 0 100%; /* Full width */
    max-width: 100%; /* Prevent overflow */
  }

  .col-2 {
    order: 2; /* Show filters second */
    flex: 0 0 100%; /* Full width */
    max-width: 100%; /* Prevent overflow */
  }

  .col-1 {
    display: none;
  }
}

@media only screen and (max-width: 768px){  
  .row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .col-9 {
    order: 1; /* Show recipe info first */
    flex: 0 0 100%; /* Full width */
    max-width: 100%; /* Prevent overflow */
  }

  .col-2 {
    order: 2; /* Show filters second */
    flex: 0 0 100%; /* Full width */
    max-width: 100%; /* Prevent overflow */
  }

  .col-1 {
    display: none;
  }
}

@media only screen and (max-width: 992px){  
  .row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .col-9 {
    order: 1; /* Show recipe info first */
    flex: 0 0 100%; /* Full width */
    max-width: 100%; /* Prevent overflow */
  }

  .col-2 {
    order: 2; /* Show filters second */
    flex: 0 0 100%; /* Full width */
    max-width: 100%; /* Prevent overflow */
  }

  .col-1 {
    display: none;
  }
}

header {
  text-align: center;
  background-image: url(../assets/img/back3.jpg);
  background-size: cover;        /* Makes the image cover the full header area */
  background-repeat: no-repeat;  /* Prevents the image from repeating */
  background-position: center; 
  height: 300px;
}

header img {
  width: 5rem;
  height: 7rem;
  object-fit: contain;
  background-color: transparent;
}

header h1 {
  margin: 0;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  color:#7b1e0a;
  text-shadow: 4px 4px 5px #7b1e0a;
}

header p {
  margin: 0 auto;
  font-size: 1.15rem;
  max-width: 38ch;
  color:#7b1e0a;
}

.search {
  padding: 50px 0px 40px;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

app-search {
  width: 100%; /* Allow app-search to take full width of the .search container */
  max-width: 500px; /* Set a max width to avoid the search form becoming too wide */
  padding: 0 20px; /* Optional: padding to add space inside the container */
  box-sizing: border-box; /*Ensure padding doesn't affect the width */
}

.container-fluid{
  width: 100%;
}

