<div class="recipe-container">
  <h3>{{recipe?.name}}</h3>
  <img [src]="recipe?.image" [alt]="recipe?.name" />
  <div class="card-container">
    <div class="row">
      <div class="info-group">
        <p>PrepTime:</p>
        <span>{{recipe?.prepTimeMinutes}}</span>
      </div>
      <div class="info-group">
        <p>CookTime:</p>
        <span>{{recipe?.cookTimeMinutes}}</span>
      </div>
      <div class="info-group">
        <p>Servings:</p>
        <span>{{recipe?.servings}}</span>
      </div>
      <div class="info-group">
        <p>Difficulty:</p>
        <span>{{recipe?.difficulty}}</span>
      </div>
    </div>
    <hr class="row-divider" />
    <div class="row">
      <div class="info-group">
        <p>Cuisine:</p>
        <span>{{recipe?.cuisine}}</span>
      </div>
      <div class="info-group">
        <p>Calories per serving:</p>
        <span>{{recipe?.caloriesPerServing}}</span>
      </div>
      <div class="info-group">
        <p>Rating:</p>
        <span>{{recipe?.rating}}</span>
      </div>
      <div class="info-group">
        <p>Meal Type:</p>
        <span>{{recipe?.mealType}}</span>
      </div>
    </div>
  </div>
  <br />
  <div class="data">
    <span class="title">Ingredients</span>
    <ul>
      <li *ngFor="let ingredient of recipe?.ingredients">
        {{ ingredient }}
      </li>
    </ul>

  </div>
  <br />
  <div class="data">
    <span class="title">Instructions</span>
    <ul>
      <li *ngFor="let instruction of recipe?.instructions">
        {{ instruction }}
      </li>
    </ul>
  </div>
  <div class="data">
    <div class="last">
      <span class="title">Tags</span><br />
      <span>{{recipe?.tags}}</span>
    </div>
  </div>
</div>
