<div class="sticky">
<!-- <button (click)="logTags()" class="kot"></button>   -->
<!-- ^^works -->


  <div class="mb-5">
    <h5 class="mb-3">Meal-Type</h5>

    <div class="d-grid gap-2">
      <!-- Checkboxes -->
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="breakfast"
          id="breakfast"
        />
        <label class="form-check-label d-flex" for="breakfast"
          >Breakfast <span class="ms-auto">{{numberOfMealTypes[0]}}</span></label
        >
      </div>
      <!-- End Checkboxes -->

      <!-- Checkboxes -->
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="lunch"
          id="lunch"
        />
        <label class="form-check-label d-flex" for="lunch"
          >Lunch <span class="ms-auto">{{numberOfMealTypes[1]}}</span></label
        >
      </div>
      <!-- End Checkboxes -->

      <!-- Checkboxes -->
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="dinner"
          id="dinner"
        />
        <label class="form-check-label d-flex" for="dinner"
          >Dinner <span class="ms-auto">{{numberOfMealTypes[2]}}</span></label
        >
      </div>
      <!-- End Checkboxes -->

      <!-- Checkboxes -->
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="appetizer"
          id="appetizer"
        />
        <label class="form-check-label d-flex" for="appetizer"
          >Appetizer <span class="ms-auto">{{numberOfMealTypes[3]}}</span></label
        >
      </div>
      <!-- End Checkboxes -->

      <!-- Checkboxes -->
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="dessert"
          id="dessert"
        />
        <label class="form-check-label d-flex" for="dessert"
          >Dessert <span class="ms-auto">{{numberOfMealTypes[4]}}</span></label
        >
      </div>
      <!-- End Checkboxes -->

      <!-- Checkboxes -->
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="snack"
          id="snack"
        />
        <label class="form-check-label d-flex" for="snack"
          >Snack <span class="ms-auto">{{numberOfMealTypes[5]}}</span></label
        >
      </div>
      <!-- End Checkboxes -->

      <!-- Checkboxes -->
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="beverage"
          id="beverage"
        />
        <label class="form-check-label d-flex" for="beverage"
          >Beverage <span class="ms-auto">{{numberOfMealTypes[6]}}</span></label
        >
      </div>
      <!-- End Checkboxes -->
    </div>
  </div>

  <!-- Card Grid -->
  <div class="container">
    <div class="row justify-content-md-between align-items-md-center">
      <div class="col-md-5 mb-5 mb-md-0">
        <!-- Tags -->
        <div class="d-md-flex align-items-md-center text-center text-md-start">
          <h5 class="d-block me-md-3 mb-2 mb-md-1">Tags:</h5>
          <a
            class="btn btn-soft-secondary btn-xs rounded-pill m-1"
            href="javascript:;"
            >Business</a
          >
          <a
            class="btn btn-soft-secondary btn-xs rounded-pill m-1"
            href="javascript:;"
            >Health</a
          >
          <a
            class="btn btn-soft-secondary btn-xs rounded-pill m-1"
            href="javascript:;"
            >Environment</a
          >
          <a
            class="btn btn-soft-secondary btn-xs rounded-pill m-1"
            href="javascript:;"
            >Adventure</a
          >
          <a
            class="btn btn-soft-secondary btn-xs rounded-pill m-1"
            href="javascript:;"
            >Adventure</a
          >
        </div>
        <!-- End Tags -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
  <!-- End Card Grid -->
</div>
