/* Extra small devices (phones, 600px and down) */
.kot{
  width: 50px;
  height:50px;
}

@media only screen and (max-width: 600px) {
  .sticky{
    width: 200px;
  }

  .mb-5{
    width: 200px;
  }
}

@media only screen and (max-width: 768px) {
  .sticky{
    width: 80%;
  }

  .mb-5{
    max-width: 80%;
    /* margin-left: 5%; */
  }
}

@media only screen and (max-width: 992px) {
  /* .sticky{
    width: 600px;
  }

  .mb-5{
    width: 400px;
    margin-left: 4%;
  } */
}

@media only screen and (max-width: 1024px) {
  .sticky{
    width: 1000px;
    margin-left: 90%;
  }

  .mb-5{
    width: 700px;
  }
}

@media only screen and (min-width: 1024px) {
  .sticky{
    width: 100%;
    margin-left: 10px;
  }
}

/* Ensuring the container takes the full width of its parent */
.container {
  width: 100%; /* Full width of the parent component */
  padding: 0 15px; /* Padding to ensure space on smaller screens */
  max-width: 1200px; /*Optional max-width for larger screens */
  margin: 0 auto; /* Centers the container horizontally */
}

/* For the row, ensuring proper alignment */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.text-center {
  text-align: center; /* Center the text on small screens */
}

.text-md-start {
  text-align: left; /* Align text to the left on larger screens */
}

.m-1 {
  margin: 5px; /* Margin between each tag link */
}

/* Styling for the tags */
.btn-soft-secondary {
  background-color: #f8f9fa;
  border-color: #7b1e0a;
  color: #7b1e0a;
  font-size: 0.75rem; /* Small font size for the links */
  padding: 5px 10px; /* Padding for the button appearance */
}

.btn-xs {
  font-size: 0.75rem; /* Extra small button size */
}

.rounded-pill {
  border-radius: 50rem; /* Rounded corners for the tags */
}

label, h5{
  color: #7b1e0a;
}

h5{
  font-size: xx-large;
  font-weight: bold;
}

/* will turn this color when clicked */
.form-check-input:focus{ 
  background-color: #7b1e0a;
}

/* will have these properties when activated */
a:focus{
  background-color: #7b1e0a;
  color: #f8f9fa;
  box-shadow: #7b1e0a;
}

.sticky{
  /* to keep the filters component even on scroll */
  position: sticky;
  top: 18%;
}
